@import "tailwindcss";

/* 🔥 Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;     /* IE & Edge */
  scrollbar-width: none;        /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}


@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}


/* hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
